body {
  background-image: url('./assets/wallpaperflare.com_wallpaper (6).jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #000000; /* Adjust the text color for better visibility */
  /* Add padding to prevent text from touching the edges */
}

.firstdiv{
  font-family: sans-serif;
 text-align: center;
 margin: 100px;

}
h1{
  font-size: 4rem;
  color: white;
}
button{
  font-size: 1.7rem;
  font-weight:bolder;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.addbtn{
  background-color: #19c719;

}
.addbtn:hover{
  background-color: #0c8c0c;
}
.del-btn{
  background-color: red;
}
.del-btn:hover{
  background-color: #bd1b1b;
}
.up-btn{
  background-color: aqua;
}
.up-btn:hover{
  background-color: #1cb2b2;
}
.down-btn{
  background-color: aqua;
}
.down-btn:hover{
  background-color: #1cb2b2;
}
input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border : 2px solid #ce05f6;
  border-radius: 5px;
  color: #000000;

  
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 10px;
  border: 5px solid #7f00eea7;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  text-align: center;

 
}
.span-txt{
  flex:1;
}
.del-btn,.up-btn,.down-btn{
  padding: 8px,12px;
  font-size: 1.4rem;
  margin-left:10px ;
}

